name: reuse_call
on:
   workflow_call:
      inputs:
             username:
               required: true
               type: string
      secrets:
             token:
                required: true
jobs:
     example-job:
          runs-on: ubuntu-latest
          steps:
          - name: Echo names
            run: |
                 echo Hello, ${{ inputs.username }}
   
